.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  //  text-align: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($wp_play-black, .2);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        //background-color: rgba($color-black, .3);
        
    }

    .player {
        margin:0;
        margin: 0;
        padding-top: 50%;
        padding-left: 50%;
        transform: translate(-50%, -50%);
        
    }

    iframe{
        align-self: center;
        justify-self: center;
    }
     

    //Open video
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
           color: $wp_play-red;
            position: absolute;
            top: 10rem;
            right: 10rem;
            font-size: 5rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;

            @include respond(phone){
                top: 3rem;
                right: 3rem;
                font-size: 3rem;
            }
        }


        
    }
}