.card {
  background-color: transparent;
  border: none;
  border-radius: 0;

  picture {
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 30px;

    a {
      display: block;

      img {
        @extend .transition;
      }

      &:hover img {
        transform: scale(1.05) rotate(1deg);
      }
    }
  }

  h6 {
    border: 1px solid $white;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 40px;
    margin-bottom: 15px;
  }
}
