@font-face {
  font-family: "Circular Spotify Tx T Med";
  src: url("../../fonts/CircularSpotifyTxT-Med.woff") format("woff"), url("../../fonts/CircularSpotifyTxT-Med.woff2") format("woff2"), url("../../fonts/CircularSpotifyTxT-Med.eot"), url("../../fonts/CircularSpotifyTxT-Med.eot?#iefix") format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular Spotify Tx T";
  src: url("../../fonts/CircularSpotifyTxT-Black.woff") format("woff"), url("../../fonts/CircularSpotifyTxT-Black.woff2") format("woff2"), url("../../fonts/CircularSpotifyTxT-Black.eot"), url("../../fonts/CircularSpotifyTxT-Black.eot?#iefix") format("embedded-opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Circular Spotify Tx T";
  src: url("../../fonts/CircularSpotifyTxT-Bold.woff") format("woff"), url("../../fonts/CircularSpotifyTxT-Bold.woff2") format("woff2"), url("../../fonts/CircularSpotifyTxT-Bold.eot"), url("../../fonts/CircularSpotifyTxT-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circular Spotify Tx T Book";
  src: url("../../fonts/CircularSpotifyTxT-Book.woff") format("woff"), url("../../fonts/CircularSpotifyTxT-Book.woff2") format("woff2"), url("../../fonts/CircularSpotifyTxT-Book.eot"), url("../../fonts/CircularSpotifyTxT-Book.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circular Spotify Tx T";
  src: url("../../fonts/CircularSpotifyTxT-Light.woff") format("woff"), url("../../fonts/CircularSpotifyTxT-Light.woff2") format("woff2"), url("../../fonts/CircularSpotifyTxT-Light.eot"), url("../../fonts/CircularSpotifyTxT-Light.eot?#iefix") format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
}
