.d-grid {
   display: grid;
}

.d-flex {
   display: flex;
}

.d-inline-flex {
   display: inline-flex;
}

.flex-wrap-wrap {
   flex-wrap: wrap;
}

.justify-content-start {
   justify-content: flex-start;
}

.justify-content-center {
   justify-content: center;
}

.justify-content-end {
   justify-content: flex-end;
}

.justify-content-space-between {
   justify-content: space-between;
}

.justify-self-start {
   justify-self: flex-start;
}

.justify-self-center {
   justify-self: center;
}

.justify-self-end {
   justify-self: flex-end;
}

.align-items-start {
   align-items: flex-start;
}

.align-items-center {
   align-items: center;
}

.align-items-end {
   align-items: flex-end;
}

.align-content-start {
   align-content: flex-start;
}

.align-content-center {
   align-content: center;
}

.align-content-end {
   align-content: flex-end;
}

.place-items-center {
   place-items: center;
}