header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.nav{
  background: rgba(0,0,0, .9);
  padding: 1.7rem 0;
}

.nav > .container{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

  .menu{
    display: flex;
  }

  .menu ul li{
    list-style: none;
  }
    .menu ul li:last-child{
      margin: 0;
    }

    .menu a{
      font-size: 19px;
      color: var(--white-color);
      margin: 0 24px;
    }
      .menu a:hover,
      .menu a:active,
      .menu a:focus{
        color: var(--primary-color);
      }
