/* Pages */
.page{
  margin-top: 200px;
  color: var(--white-color);
}
  .page .content{
    display: flex;
  }

  .page article,
  .page aside{
    width: 100%;
    margin-bottom: 100px;
  }

  .page aside .films-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

    .page aside .films-post{
      margin-bottom: 50px;
    }


/* Single page*/
.single .title{
  font-size: 70px;
  color: var(--white-color);
  margin-top: 30px;
}

.single .embed-thumbnail{
  width: 100%;
  height: 920px;
  margin-bottom: 100px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

  @media all and (max-width: 1600px) {

    .page aside .films-card{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media all and (max-width: 1368px) {
    .single .embed-thumbnail{
      height: 500px;
    }
  }

@media all and (max-width: 768px) {
    .page{
      margin-top: 140px;
    }
    .page .content{
      flex-direction: column;
    }

    .single .title{
      font-size: 28pt;
    }

    .single .embed-thumbnail{
      height: 210px;
      margin-bottom: 30px;
      margin-left: -20px;
      width: calc(100% - -40px);
    }
  }
