/*************************************************************
***************** Archive Vídeo template **********************
*************************************************************/
#playCategoria {
    padding-top: 80px; }
#playCategoria .page-header {
    padding-right: 100px; }
.sticky-top {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
	padding-bottom: 80px;}
.archive #playCategoria header h1 {
    font-size: 40px;
    font-weight: 900;
    color: #F00;
    margin-bottom: 30px; }
.archive #playCategoria header p {
    font-size: 18px;
	line-height: 35px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 0; }
#playCategoria .itens {
    display: flex;
    flex-flow: wrap; }
#playCategoria .itens .item {
    margin: 10px; }	
#playCategoria .item > a {
	display: block; 
    color: white !important;
    text-decoration: none !important;}
#playCategoria .item .img {
    width: 245px;
    height: 380px;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 25px; }
#playCategoria .item .img > img {
    height: 100%;
    width: auto; }	
#playCategoria .item span {
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    border: 1px solid white;
    border-radius: 3px;
    width: 128px;
    text-align: center;
    display: inline-block; }
#playCategoria .item h3 {
    min-height: 100px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
    margin: 15px 0 0; }
	
	
/*****************************************************
******************** RESPONSIVO **********************
******************************************************/ 
@media only screen and (min-width: 801px) and (max-width: 1000px){
#playCategoria {
    padding: 50px; }
#playCategoria .page-header {
    padding: 0 0 20px; }
#playCategoria .sticky-top {
    position: initial !important; }
.archive #playCategoria header h1 {
    font-size: 30px;
    margin-bottom: 20px; }
.archive #playCategoria header p {
    font-size: 20px;
    line-height: 30px; }
#playCategoria .itens .item {
    width: 196px !important; }
#playCategoria .itens .item .img {
    width: 200px;
    height: 320px; }	
#playCategoria .itens .item span {
    font-size: 12px;
    width: 110px; }
#playCategoria .itens .item h3 {
	min-height: 80px;
    font-size: 20px;
    line-height: 25px; }

}
@media only screen and (max-width: 800px){
#playCategoria {
    padding: 30px; }
#playCategoria .page-header {
    padding: 0 0 20px; }
#playCategoria .sticky-top {
    position: initial !important; }
.archive #playCategoria header h1 {
    font-size: 25px;
    margin-bottom: 20px; }
.archive #playCategoria header p {
    font-size: 15px;
    line-height: 25px; }
#playCategoria .itens .item .img {
    width: 148px;
    height: 232px;
	margin-bottom: 15px; }	
#playCategoria .itens .item span {
    font-size: 12px;
    width: 110px; }
#playCategoria .itens .item h3 {
	min-height: 80px;
    font-size: 20px;
    line-height: 25px; }
}
