/*** Video Destaque ***/
#hero .container-fluid {
    padding: 0; }
#hero .destaque > .container > .row {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px; }
#hero .destaque::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0009; }
#hero .destaque {
    background-size: cover;
	position: relative;}	
#hero .destaque .container {
    position: relative; }
#hero .destaque h3 {
    font-size: 100px;
    font-weight: 900;
    line-height: 90px;
    margin: 30px 0; }


/** Seção Categorias ***/
section#categoria {
    padding: 50px 0; }
section#categoria h2 {
    font-size: 40px;
    font-weight: 900;
    color: #F00;
    margin-bottom: 35px; }

/*** Videos Carousel ***/
#playCarousel { position: relative;}
#playCarousel .item > a {
	display: block; 
    color: white !important;
    text-decoration: none !important;}
#playCarousel .item .img {
    width: 245px;
    height: 380px;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 25px; }
#playCarousel .item .img > img {
    height: 100%;
    width: auto; }	
#playCarousel .item span {
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    border: 1px solid white;
    border-radius: 3px;
    width: 128px;
    text-align: center;
    display: inline-block; }
#playCarousel .item h3 {
    min-height: 100px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
    margin: 15px 0 0; }
#playCarousel .owl-stage-outer::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 90%;
    background-image: linear-gradient(to right, #0000 , #000000cf); }
#playCarousel .custom-nav {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0; }
#playCarousel .custom-nav .owl-prev, #playCarousel .custom-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100; }
#playCarousel .custom-nav .owl-prev {
  left: 0;
  opacity: 0;}
#playCarousel .custom-nav .owl-next {
  right: 0; }
  
/*****************************************************
******************** RESPONSIVO **********************
******************************************************/ 
@media only screen and (min-width: 801px) and (max-width: 1000px){
/** HERO **/
#hero .destaque > .container > .row {
    min-height: 80vh;
    padding: 0;
    justify-content: center; }	
#hero .destaque h3 {
    font-size: 70px;
    line-height: 75px; }
/** CATEGORIAS **/
section#categoria {
    padding: 40px 20px; }
section#categoria h2 {
    font-size: 45px;
    margin-bottom: 20px; }	
#playCarousel .item span {
    font-size: 20px;
    width: 120px; }
#playCarousel .item h3 {
	min-height: 100px;
    font-size: 30px;
    line-height: 30px; }
}
@media only screen and (max-width: 800px){
/** HERO **/
#hero .destaque > .container > .row {
    min-height: 80vh;
    padding: 0;
    justify-content: center; }	
#hero .destaque h3 {
    font-size: 40px;
    line-height: 45px; }
/** CATEGORIAS **/
section#categoria {
    padding: 40px 20px; }
section#categoria h2 {
    font-size: 25px;
    margin-bottom: 20px; }
#playCarousel .item .img {
    width: 148px;
    height: 232px;
	margin-bottom: 15px; }	
#playCarousel .item span {
    font-size: 12px;
    width: 110px; }
#playCarousel .item h3 {
	min-height: 80px;
    font-size: 20px;
    line-height: 25px; }

}