@font-face {
    font-family: "Circular Spotify Tx T";
    src: url('../fonts/CircularSpotifyTxT-Black.eot') format('eot'),
        url('../fonts/CircularSpotifyTxT-Black.ttf') format('ttf'),
        url('../fonts/CircularSpotifyTxT-Black.woff') format('woff'),
        url('../fonts/CircularSpotifyTxT-Black.woff2') format('woff2');
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Circular Spotify Tx T';
    src: url('../fonts/CircularSpotifyTxT-Bold.eot') format('eot'),
        url('../fonts/CircularSpotifyTxT-Bold.ttf') format('ttf'),
        url('../fonts/CircularSpotifyTxT-Bold.woff') format('woff'),
        url('../fonts/CircularSpotifyTxT-Bold.woff2') format('woff2');
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular Spotify Tx T";
    src: url('../fonts/CircularSpotifyTxT-Book.eot') format('eot'),
        url('../fonts/CircularSpotifyTxT-Book.ttf') format('ttf'),
        url('../fonts/CircularSpotifyTxT-Book.woff') format('woff'),
        url('../fonts/CircularSpotifyTxT-Book.woff2') format('woff2');        
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular Spotify Tx T";
    src: url('../fonts/CircularSpotifyTxT-Light.eot') format('eot'),
        url('../fonts/CircularSpotifyTxT-Light.ttf') format('ttf'),
        url('../fonts/CircularSpotifyTxT-Light.woff') format('woff'),
        url('../fonts/CircularSpotifyTxT-Light.woff2') format('woff2');
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular Spotify Tx T";
    src: url('../fonts/CircularSpotifyTxT-Med.eot') format('eot'),
        url('../fonts/CircularSpotifyTxT-Med.ttf') format('ttf'),
        url('../fonts/CircularSpotifyTxT-Med.woff') format('woff'),
        url('../fonts/CircularSpotifyTxT-Med.woff2') format('woff2');
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
}

