body, html{
    background: $base;
    
    padding-top: 0;
}
a, form, p ,span{
    @include tipo-1(18);
    @include media-querie(xs){
        @include tipo-1(14);
    }
}
h1, h2, h3{
    font-weight: normal;
}
.btn-sm{
    color: $cor-primaria;
    border-radius:3px ;
    @include tipo-1(18);
    border: 1px solid #fff;
    padding: 6px 40px 4px 40px;
    line-height: em(17);
    @include media-querie(xs){
        padding: 6px 35px 4px 35px;
        @include tipo-1(14);
    }
}
.btn-lg{
    @include tipo-1(18);
    color: $cor-primaria;
    background: $cor-secundaria;
    display: inline-block;
    padding: 23px 75px;
    letter-spacing: 0.54px;
    border-radius: 3px;
    @include media-querie(xs){
        padding: 15px 40px;
        @include tipo-1(14);
    }
}

.intro{
    height: calc(100vh + 32px);
    margin-top: -32px;
    overflow: hidden;
    position: relative;
    display: grid;
    align-content: center;
    
    .bg{
        position: absolute;
        z-index: 1;
        top: 0;
        
        img{
            filter: opacity(50%);
            @include media-querie(xs){
                height: 100vh;
                max-width: 200%;
                overflow: hidden;
            }
            @include media-querie(sm){
                height: 100vh;
                max-width: 200%;
                overflow: hidden;
            }
            @include media-querie(md){
                height: 100vh;
                // max-width: 200%;
                overflow: hidden;
            }
            @include media-querie(lg){
                overflow: hidden;
            }
        }
    }
    .container-grid{
        padding-top: 12%;
        z-index: 2;
        width: 100%;
        @include media-querie(xxl){
            padding-top: 15%;
        }
        @include media-querie(xs){
            padding-top: 60px;
            padding-bottom: 60px;
        }
    } 
    
    h1{
        font-size: em(100);
        color: $cor-primaria;
        font-family: $Black;
        max-width: 800px;
        letter-spacing: -4px;
        margin-bottom: 30px;
        @include media-querie(xs){
            font-size: em(45);
            max-width: 80%;
            letter-spacing: -1.6px;
        }
        @include media-querie(sm){
            font-size: em(50);
            letter-spacing: -1.6px;
        }
        @include media-querie(md){
            font-size: em(70);
        }
    }
    .bts{
        display: flex;
        margin-bottom: 40px;
        .btn-sm:first-child{
            margin-right: 10px;
            background: $cor-primaria;
            color: #5A5A5A;
        }
    }


   
}

.item{
    // min-width: 250px; //mudei  min-width: 250px;
    // padding: 0 10px;
    // max-width: 251px;
    
    img{
        // height: 100%;
        border-radius: 3px;
    }
    .link-page{
        height: auto;
        border-radius: 3px;
        
        @include media-querie(xl){
            height: auto;
            height: 387px;
            overflow: hidden;
            position: relative;
        }
    }
    
    @include media-querie(xs){
        min-width: min-content;
        width: calc(50% - 20px);

    }
    @include media-querie(sm){
        width: 180px;
        
    }
    @include media-querie(md){
        width: 200px;
    }

    

    span{
        display: inline-block;
        margin: 30px 0 15px 0;
        // line-height: 1.4em;
    }
    h3{
        color: $cor-primaria;
        font-family: $Black;
        font-size: em(27);
        margin-right: 20px;
        
        letter-spacing: -0.3px;
        @include media-querie(xs){
            font-size: em(23);
        }
        @include media-querie(sm){
            font-size: em(25);
        }
        @include media-querie(xl){
            font-size: em(20);
        }
    }
}

.main{
    padding: 100px 20px 0 0;
    // @include media-querie(xxl){
    //     padding: 60px 0 0 0;
    // }
    .slider{
        overflow: hidden;
        margin-bottom: 60px;
        @include media-querie(xs){
            padding: 30px 0 0 0;
        }

        .item{
            width: calc(100% - 30px);
            border-radius: 3px;
            @include media-querie(xs){
                margin: 0 auto;
            }
           
        }
        .slick-slide{
            @include media-querie(xs){
                width: 50%!important;
            }
            @include media-querie(sm){
                width: 33.333%!important;
            }
            @include media-querie(md){
                width: 25%!important;
            }
            @include media-querie(lg){
                width: 25%!important;
            }
            @include media-querie(xl){
                width: 16.666%!important;
            }
            @include media-querie(xxl){
                width: 16.666%!important;
            }
        }
        
        
    }
    h2{
        font-size: em(35);
        font-family: $Black;
        color: $cor-secundaria;
        letter-spacing: -1px;
        margin-bottom: 30px;
        @include media-querie(xs){
            font-size: em(30);
        }
        @include media-querie(sm){
            font-size: em(30);
        }
        @include media-querie(xl){
            font-size: em(30);
        }
    }
}


    




